{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Página <small>Lista de todas as página</small></h4>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice ">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
                        {{ flash_message }}
                    </div>
                </div>
            {% endfor %}

            <div class="white-box">
                <h3 class="box-title">Todos os Páginas
                    <div class="pull-right">
                        <a href="{{ path('page_new') }}">
                            <button type="button"
                                    class="btn btn-primary">
                                Nova Página
                            </button>
                        </a>
                    </div>
                </h3>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                {# sorting of properties based on query components #}
                                <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                                <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Título', 'a.title') }}</th>
                                <th>Tags</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for page in pagination %}
                            <tr>
                                <td>
                                    <a href="{{ path('page_show',
                                    { 'id': page.id }) }}">
                                        {{ page.id }}
                                    </a>
                                </td>
                                <td>{{ page.title }}</td>
                                <td>
                                    {% for tag in page.tag %}
                                     <span class="label label-danger"> {{ tag.name }}</span>
                                    {% endfor %}
                                </td>
                                <td>
                                    <ul class="list-inline pull-right">
                                        <li>
                                            {% if page.status == '0' %}
                                            <a href="#">
                                                <button type="button"
                                                        class="btn btn-block btn-danger btn-xs">
                                                    Rascunho
                                                </button>
                                            </a>
                                            {% elseif page.status == '1' %}
                                            <a href="#">
                                                <button type="button"
                                                        class="btn btn-block btn-success btn-xs">
                                                    Publicado
                                                </button>
                                            </a>
                                            {% elseif page.status == '2' %}
                                            <a href="#">
                                                <button type="button"
                                                        class="btn btn-block btn-warning btn-xs">
                                                    Arquivado
                                                </button>
                                            </a>
                                            {% endif %}
                                        </li>
                                        <li>
                                            <a href="{{
                                            path('page_view',
                                            { 'title': page.title }) }}" target="_blank">
                                                <button type="button"
                                                        class="btn btn-block btn-info btn-sm">
                                                    Ver
                                                </button>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{{
                                            path('page_edit',
                                            { 'id': page.id }) }}">
                                                <button type="button"
                                                        class="btn btn-block btn-default btn-sm">
                                                    Editar
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        {# display navigation #}
        <div class="col-sm-12">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
