{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">

            {% for post in posts %}
                <article class="post post-list">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="post-thumb">
                                <a href="{{
                                path('post_view',
                                { 'id': post.id }) }}"><img src="{{ asset('frontend/images/blog-grid.jpg') }}" alt="" class="pull-left"></a>

                                <a href="{{
                                path('post_view',
                                { 'id': post.id }) }}" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">Ver Post</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="post-content">
                                <header class="entry-header text-uppercase">
                                    <h6><a href="#"> {% for category in post.category %}{{ category.name }}{% endfor %}</a></h6>

                                    <h1 class="entry-title"><a href="{{
                                        path('post_view',
                                        { 'id': post.id }) }}">{{ post.title }}</a></h1>
                                </header>
                                <div class="entry-content">
                                    <p>{{ post.text | truncate(200) | raw }}
                                    </p>
                                </div>
                                <div class="social-share">
                                    <span class="social-share-title pull-left text-capitalize">Por Admin em 12 de Abril, 2017</span>

                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}


            <ul class="pagination">
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
            </ul>
        </div>
        {{ include('sidebar.frontend.html.twig') }}
    </div>
{% endblock %}
