<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('dashboard/plugins/images/favicon.png') }}">
        <title>ABRACE Esperança - Dashboard{% block title %}{% endblock %}</title>
        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('dashboard/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Menu CSS -->
        <link href="{{ asset('dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css') }}" rel="stylesheet">
        <!-- animation CSS -->
        <link href="{{ asset('dashboard/css/animate.css') }}" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{ asset('dashboard/css/style.css') }}" rel="stylesheet">
        <!-- color CSS -->
        <link href="{{ asset('dashboard/css/colors/gray-dark.css') }}" id="theme" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <!-- Dynamic Stylesheet -->
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">
            <!-- Navigation -->
            {{ include('header.dashboard.html.twig') }}

            <!-- Left navbar-header end -->
            <div id="page-wrapper">
                <div class="container-fluid">
                {% block body %}{% endblock %}
                </div>
                <!-- /.container-fluid -->
                <footer class="footer text-center"> 2017 &copy; Desenvolvido por <a href="http://wedevbrasil.com/" target="_blank">WeDev Brasil</a> </footer>
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="{{ asset('dashboard/plugins/bower_components/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap Core JavaScript -->
        <script src="{{ asset('dashboard/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <!-- Menu Plugin JavaScript -->
        <script src="{{ asset('dashboard/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js') }}"></script>
        <!--slimscroll JavaScript -->
        <script src="{{ asset('dashboard/js/jquery.slimscroll.js') }}"></script>
        <!-- Custom Theme JavaScript -->
        <script src="{{ asset('dashboard/js/custom.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
