<footer class="footer-widget-section" style="background-color: #cecece; color: #2a2a2a">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <aside class="footer-widget">
                    <div class="about-img"><img src="{{ asset('frontend/images/footer-logo.png') }}" alt="ABRACE Esperança"></div>
                    <div class="about-content text-justify"><small>Somos uma organização sem fins lucrativos cujo objetivos principais
                        não é só dar apoio as famílias que precisam de um tratamento com a Cannabis Medicinal mas
                        também realizar pesquisas nesses pacientes que utilizam a Cannabis Medicinal como alternativa
                        aos tratamentos convencionais. Apoiamos as famílias com informações sobre como importar,
                        orientações jurídicas para ações de fornecimento pelo Estado e criamos uma lista de médicos
                        associados nacional que prescrevem e acompanham as nossas pesquisas com o uso dos extratos
                        e tinturas ricos em Canabidiol advindos da popular.</small>
                    </div>
                </aside>
            </div>

            <div class="col-md-4" style="color: #2a2a2a">
                <aside class="footer-widget">
                    <h3 class="widget-title text-uppercase">Depoimentos</h3>

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!--Indicator-->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="single-review">
                                    <div class="review-text">
                                        <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                            tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                            vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                            magna aliquyam eratma</p>
                                    </div>
                                    <div class="author-id">
                                        <img src="{{ asset('frontend/images/author.png') }}" alt="">

                                        <div class="author-text">
                                            <h4>Sophia</h4>

                                            <h4>CEO, ReadyTheme</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-review">
                                    <div class="review-text">
                                        <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                            tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                            vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                            magna aliquyam eratma</p>
                                    </div>
                                    <div class="author-id">
                                        <img src="{{ asset('frontend/images/author.png') }}" alt="">

                                        <div class="author-text">
                                            <h4>Sophia</h4>

                                            <h4>CEO, ReadyTheme</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="single-review">
                                    <div class="review-text">
                                        <p>Lorem ipsum dolor sit amet, conssadipscing elitr, sed diam nonumy eirmod
                                            tempvidunt ut labore et dolore magna aliquyam erat,sed diam voluptua. At
                                            vero eos et accusam justo duo dolores et ea rebum.gubergren no sea takimata
                                            magna aliquyam eratma</p>
                                    </div>
                                    <div class="author-id">
                                        <img src="{{ asset('frontend/images/author.png') }}" alt="">

                                        <div class="author-text">
                                            <h4>Sophia</h4>

                                            <h4>CEO, ReadyTheme</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
            <div class="col-md-4">
                <aside class="footer-widget">
                    <h3 class="widget-title text-uppercase">Custom Category Post</h3>


                    <div class="custom-post">
                        <div>
                            <a href="#"><img src="{{ asset('frontend/images/footer-img.png') }}" alt=""></a>
                        </div>
                        <div>
                            <a href="#" class="text-uppercase">Home is peaceful Place</a>
                            <span class="p-date">February 15, 2016</span>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                        ABRACE Esperança &#183; 2017 &copy; Todos os direitos reservados. <br />
                        <small>
                            Desenvolvido por <a href="http://wedevbrasil.com">
                                WeDev Brasil
                            </a>
                        </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>