<nav class="navbar navbar-default navbar-static-top m-b-0">
    <div class="navbar-header">
        <a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse">
            <i class="ti-menu"></i>
        </a>
        <div class="top-left-part">
            <a class="logo" href="#">
                <b>
                    <img src="{{ asset('dashboard/plugins/images/abrace-logo.png') }}" alt="home" width="70%" />
                </b>
                <span class="hidden-xs">
                    ABRACE
                </span>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-left hidden-xs">
            <li>
                <a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light">
                    <i class="icon-arrow-left-circle ti-menu"></i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="{{ url('dashboard') }}">
                    <img src="{{ asset('dashboard/plugins/images/users/varun.jpg') }}" alt="user-img" width="36" class="img-circle">
                    <b class="hidden-xs">Admin</b>
                </a>
                <ul class="dropdown-menu dropdown-user animated flipInY">
                    <li><a href="#"><i class="ti-user"></i> Meu Perfil</a></li>
                    <li><a href="#"><i class="ti-email"></i> Mensagens</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Sair</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ url('dashboard') }}" class="waves-effect">
                    <i class="fa fa-tachometer"></i>
                    <span class="hide-menu"> Dashboard</span>
                </a>
            </li>
            <li>
                <a href="inbox.html" class="waves-effect">
                    <i class="fa fa-sticky-note-o "></i>
                    <span class="hide-menu">Posts</span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('post_new') }}" class="waves-effect">
                            Adicionar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('post_index') }}" class="waves-effect">
                            Todos
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="inbox.html" class="waves-effect">
                    <i class="fa fa-file-o"></i>
                    <span class="hide-menu">Paginas</span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('post_new') }}" class="waves-effect">
                            Adicionar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('post_index') }}" class="waves-effect">
                            Todos
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="inbox.html" class="waves-effect">
                    <i class="fa fa-users"></i>
                    <span class="hide-menu">Usuarios</span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('user_new') }}" class="waves-effect">
                            Adicionar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('user_index') }}" class="waves-effect">
                            Todos
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="waves-effect">
                    <i class="fa fa-cogs"></i>
                    <span class="hide-menu">Configuraçoes</span>
                </a>
            </li>
        </ul>
    </div>
</div>