<!-- Left navbar-header -->
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse slimscrollsidebar">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search hidden-sm hidden-md hidden-lg">
                <!-- input-group -->
                <div class="input-group custom-search-form">
                    <input type="text" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="{{ url('dashboard') }}" class="waves-effect">
                    <i class="fa fa-tachometer"></i>
                    <span class="hide-menu"> Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#" class="waves-effect">
                    <i class="fa fa-sticky-note-o "></i>
                    <span class="hide-menu">Posts</span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('post_new') }}" class="waves-effect">
                            Adicionar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('post_index') }}" class="waves-effect">
                            Todos
                        </a>
                    </li>
                    <li> <a href="javascript:void(0)" class="waves-effect">Categorias <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li> <a href="{{ url('category_new') }}">Adicionar</a> </li>
                            <li> <a href="{{ url('category_index') }}">Todas</a> </li>
                        </ul>
                    </li>
                    <li> <a href="javascript:void(0)" class="waves-effect">Tags <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li> <a href="{{ url('tag_new') }}">Adicionar</a> </li>
                            <li> <a href="{{ url('tag_index') }}">Todas</a> </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect">
                    <i class="fa fa-file-o"></i>
                    <span class="hide-menu">Paginas</span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('post_new') }}" class="waves-effect">
                            Adicionar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('post_index') }}" class="waves-effect">
                            Todos
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect">
                    <i class="fa fa-bars"></i>
                    <span class="hide-menu">Menu</span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="#" class="waves-effect">
                            Adicionar
                        </a>
                    </li>
                    <li>
                        <a href="#" class="waves-effect">
                            Todos
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#" class="waves-effect">
                    <i class="fa fa-users"></i>
                    <span class="hide-menu">Usuarios</span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="{{ url('user_new') }}" class="waves-effect">
                            Adicionar
                        </a>
                    </li>
                    <li>
                        <a href="{{ url('user_index') }}" class="waves-effect">
                            Todos
                        </a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#" class="waves-effect">
                    <i class="fa fa-cogs"></i>
                    <span class="hide-menu">Configuraçoes</span>
                </a>
            </li>
        </ul>
    </div>
</div>