{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Post <small>Lista de todos os post</small></h4>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box">
                <h3 class="box-title">Todos os Posts
                    <div class="pull-right">
                        <a href="{{ path('post_new') }}">
                            <button type="button"
                                    class="btn btn-primary">
                                Novo Post
                            </button>
                        </a>
                    </div>
                </h3>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Título</th>
                                <th>Categoria</th>
                                <th>Tags</th>
                                <th>Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for post in posts %}
                            <tr>
                                <td>
                                    <a href="{{ path('post_show',
                                    { 'id': post.id }) }}">
                                        {{ post.id }}
                                    </a>
                                </td>
                                <td>{{ post.title }}</td>
                                <td>{% for category in post.category %}{{ category.name }}{% endfor %}</td>
                                <td><span class="label label-danger">tags</span></td>
                                <td>
                                    <ul class="list-inline pull-right">
                                        <li>
                                            <a href="{{
                                            path('post_edit',
                                            { 'id': post.id }) }}">
                                                <button type="button"
                                                        class="btn btn-block btn-primary btn-sm">
                                                    Editar
                                                </button>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <button type="button"
                                                        class="btn btn-block btn-info btn-sm">
                                                    Ver
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
