{% extends 'frontend.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-8">
            {% for post in pagination %}
                <article class="post post-list">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="post-thumb">
                                <a href="{{
                                path('post_view',
                                { 'title': post.title }) }}">
                                    {%  if post.featureImage != '' %}
                                    <img src="/uploads/images/{{ post.featureImage }}" alt="" class="pull-left">
                                    {% else %}
                                    <img src="{{ asset('frontend/images/abrace.png') }}" alt="" class="pull-left">
                                    {% endif %}
                                </a>

                                <a href="{{
                                path('post_view',
                                { 'title': post.title }) }}" class="post-thumb-overlay text-center">
                                    <div class="text-uppercase text-center">Ver Post</div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="post-content">
                                <header class="entry-header text-uppercase">
                                    <h6><a href="#"> {% for category in post.category %}{{ category.name }}{% endfor %}</a></h6>

                                    <h1 class="entry-title"><a href="{{
                                        path('post_view',
                                        { 'title': post.title }) }}">{{ post.title }}</a></h1>
                                </header>
                                <div class="entry-content">
                                    {{ post.text | truncate(100) | raw }}
                                </div>
                                <div class="social-share">
                                    <a href="{{
                                    path('post_view',
                                    { 'title': post.id }) }}"
                                       class="pull-right text-capitalize">
                                        <span>Continue...</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </article>
            {% endfor %}
            {{ knp_pagination_render(pagination) }}
        </div>
        {{ include('sidebar.frontend.html.twig') }}
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
{% endblock %}
