{% extends 'dashboard.html.twig' %}

{% block body %}
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Categoria <small>Lista de todos as categorias</small></h4>
        </div>
    </div>
    <!-- .row -->
    <div class="row">
        <div class="col-sm-12">

            {% for flash_message in app.session.flashBag.get('notice') %}
                <div class="flash-notice ">
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        <h4><i class="icon fa fa-check"></i> Sucesso!</h4>
                        {{ flash_message }}
                    </div>
                </div>
            {% endfor %}

            <div class="white-box">
                <h3 class="box-title">Todos as Categorias
                    <div class="pull-right">
                        <a href="{{ path('category_new') }}">
                            <button type="button"
                                    class="btn btn-primary">
                                Nova Categoria
                            </button>
                        </a>
                    </div>
                </h3>
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr>
                            {# sorting of properties based on query components #}
                            <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                            <th{% if pagination.isSorted('a.Name') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nome', 'a.name') }}</th>
                            <th>Descriçao</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for category in pagination %}
                            <tr>
                                <td>
                                    <a href="{{ path('category_show',
                                    { 'id': category.id }) }}">
                                        {{ category.id }}
                                    </a>
                                </td>
                                <td>{{ category.name }}</td>
                                <td>{{ category.description }}</td>
                                <td>
                                    <ul class="list-inline pull-right">
                                        <li>
                                            <a href="{{
                                            path('category_edit',
                                            { 'id': category.id }) }}">
                                                <button type="button"
                                                        class="btn btn-block btn-default btn-sm">
                                                    Editar
                                                </button>
                                            </a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!-- .row -->
    <div class="row">
        {# display navigation #}
        <div class="col-sm-12">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
    <!-- /.row -->
{% endblock %}
